
body{
    top:0;
    align-items: center;
    text-align: center;
    font-size:25px;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    padding-top: 50px;
    margin-top: 50px;    
    justify-content: center;
}

#admin{
    position: fixed;
}

header{

    box-sizing:border-box ;
    font-size: 20px;
    top:0;
    margin:0;
    padding:0;
    width: 100%;
    background-color: white;
    text-align: center;
    position: fixed;
    align-items: center;
    justify-content: center;
}

main{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 140px;
    
}
.navbar{
    font-size: 40px;
    gap:40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
}


list{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.form{
    justify-content: center;
    padding:2rem;
    background-color: #4ed8eb;
    border-radius: 8px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    width:450px;
    max-width: 100%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    
}
input{
text-align: center;
margin:10px;
}
label{
    text-align:left;
    justify-content: left;
    align-items:start ;
}

button{
    width:70px;
    margin-left: 90px;
    margin-top: 30px;
}
.reg_form{
    
    display:flex;
    flex-wrap:wrap;
    
    font-size: 20px;
    color: #333;
    text-align: center;
    flex-direction:column;
    margin-left:0px;
}

.log_form{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    font-size: 20px;
    color: #333;
    margin-bottom:1.5rem;
    text-align: center;
    margin-top: 20px;
    flex-direction:column;
    
    justify-content: left;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding:0;
    margin:0;
    gap:50px;
    text-align: center;
}

.add_product_form{
  
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    font-size: 20px;
    color: #333;
    margin-bottom:1.5rem;
    text-align: center;
    margin-top: 100px;
    flex-direction:column;
    
    justify-content: left;
}

#login{
    height:70px;
    width:70px;
}
#logout{
    height:50px;
    width:70px;
}

.cart-table{
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border-color: #333;
    border:#333 4px solid;
    border-style: solid;
    border

}

th,td{
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

table{
    border:#333 4px solid;
}